##############################################

# 🔒 IMAGES FOLDER SECURITY

##############################################

# Deny PHP or script execution

<FilesMatch "\.ph(p|ar|tml|phtml)$">
Require all denied
</FilesMatch>

# Disable directory listing

Options -Indexes

##############################################

# ✅ End of images security

##############################################
